{% extends 'base.html.twig' %}

{% block body %}
  <h2>About US</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi deleniti doloribus, ducimus eaque excepturi expedita incidunt inventore libero molestias obcaecati odit quas quibusdam repellat rerum temporibus vel velit vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nihil omnis sed. Ad atque cupiditate exercitationem illum in ipsum iste necessitatibus officia, omnis reiciendis veritatis vero. Officiis quam repellat veritatis!</p>
{% endblock %}

{% block title %}

 {{ parent()}} | Home
{% endblock %}

