{% extends 'base.html.twig' %}

{% block title %}
    Add your wishes | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-warning">
            Add Wish
        </button>
        {{ form_end(form) }}
    </div>


{% endblock %}

