{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | All Wishes
{% endblock %}

{% block body %}
    <section class="wishes-list">
        <h3>All Wishes !</h3>
    {% for wish in wishes %}
      <div class="align-items-center">
          <article>
              <a href="{{ path('wish_details',{id: wish.id}) }}">{{ wish.title }}</a>
          </article>
      </div>

    {% endfor %}

    </section>
{% endblock %}