{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | All Wishes
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12  text-center">
                <h3>All Wishes !</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for wish in wishes %}
                    <div class="align-items-center">
                        <article>
                            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ path('wish_details',{id: wish.id}) }}">{{ wish.title }}</a>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}